<h1>Driver List</h1>
<%= turbo_stream_from "drivers" %>
<table>
    <thead>
        <tr>
            <td>Edit</td>
            <td>Driver Name</td>
            <td>Auth. No</td>
            <td>Licence</td>
            <td>Security Check In Time</td>
            <td>Counter Check In</td>
            <td>Dock Door</td>
        </tr>
    </thead>
    <tbody id="drivers">
        <%= render @drivers %>
    </tbody>
</table>

<%= turbo_frame_tag "new_driver" do %>
    <%= link_to "New Driver", new_driver_path %> 
<% end %>

